body {
	background-color: #68cdd5;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;		
}
.container{
	width: 100%;
	height: 764px;	
}

.img-a{
	width: 40px;
	height: 40px;
	margin-top: 15px;
	margin-left: 30px;
}
.logo{
	text-align: center;
}
.img-l{
	width: 170px;
	height: 63px;
	margin-top: 40px;
	margin-bottom: 40px;	
}
.jianjie{	
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;	
}	 

span{			 
	font-size: 2rem;
	color: white;		
} 
.footer{
	margin-top: 60px;
	margin-left: 30%;
	margin-right: 31%;		
}

.img-p{
	width: 70px;
	height: 75px;	
	float: left;
		
}
.img-b{
	width: 65px;
	height: 75px;
	float: right;
	
}


